*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Share Style  */
.primary-btn{
    font-size: 1rem;
    width: 136px;
    padding: 12px 16px;
    border-radius: 20px;
   background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.new-btn{
    display: block;
    margin-left: 54%;
    padding: 8px 16px;
    background-color: rgba(0, 255, 136, 1);
    border-radius: 20px;
}

/* Main style  */

/* navbar section */

.nav-container{
        color: rgba(255, 255, 255, 1);
    height: 5.8rem;
    background-color: rgba(26, 11, 46, 1);
}

.nav-wave{
  background: linear-gradient(to right, #F0EA41, #FB09B4, #9100F8); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

/* banner section  */
.banner-container{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    padding-top: 40px;
    /* height: 760px; */

}
.banner-setion{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: top,center;
    
}
.banner-section img{

}
.banner-info{
    color: rgba(255, 255, 255, 1);
    /* padding-top: 360px; */
}
.banner-info img{
            margin: 0 auto;
            padding-top: 80px;
}

.banner-title{
    padding-top: 150px;
    
}
.banner-btn{
    margin-top: 1.5rem;
}
.banner-btn1{
    font-size: 1rem;
    width: 201px;
    padding: 12px 20px;
    border-radius: 20px;
   background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.banner-btn2{
    font-size: 1rem;
    width: 201px;
    padding: 12px 20px;
    border-radius: 20px;
   background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}

/* about section */
.about-container{
     color: rgba(255, 255, 255, 1);
      background-color: rgba(26, 11, 46, 1);
}
.about-info h1{
    color: rgba(255, 255, 255, 1);
    padding-top: 8.50rem;
}
.about-info p{
    line-height: 20px;
    margin-top: 1rem;
}
.aboutp{
    margin-top: 1.25rem;
}
.about-card{
    margin-top: 160px;
}
.about-card h4{
    margin-top: 1rem;
    font-weight: 400;
}
.why-section{
    background-color: rgba(26, 11, 46, 1);
}
.why-content{
    margin: 0 auto;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;

}
.why-info{
    max-width: 1200px;
    /* max-height: 785px; */
    /* border: 3px solid greenyellow; */
    background-color: rgba(35, 14, 61, 1);
    display: grid;
    gap: 20px;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: repeat(3, 220x);
    margin: 0 auto;
    /* padding-top: 40px; */
    
}
.card-info{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 20px;
}
.card-info h2{
    color: rgba(255, 255, 255, 1);
    padding-top: 16px;
}
.card-info p{
    color: rgba(255, 255, 255, 1);
    padding-top: 16px;
}
.card-info .zap{
    max-width: 10%;
    color: linear-gradient(to right, #F0EA41, #FB09B4, #9100F8); 
}



@media screen and (max-width:576px) {
        .manubar, .primary-btn{
            display: none;
        }
        .about-card{
            display: flex;
            flex-wrap: wrap;
        }
        .why-content h2{
            font-size: 2rem;
        }
        .why-info{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
}

