*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Share Style  */
.primary-btn{
    font-size: 1rem;
    width: 136px;
    padding: 12px 16px;
    border-radius: 20px;
   background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.new-btn{
    display: block;
    margin-left: 54%;
    padding: 8px 16px;
    background-color: rgba(0, 255, 136, 1);
    border-radius: 20px;
}

/* Main style  */
.nav-container{
        color: rgba(255, 255, 255, 1);
    height: 5.8rem;
    background-color: rgba(26, 11, 46, 1);
}

.nav-wave{
  background: linear-gradient(to right, #F0EA41, #FB09B4, #9100F8); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.banner-container{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    padding-top: 40px;
    /* height: 760px; */

}
.banner-setion{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: top,center;
    
}
.banner-section img{

}
.banner-info{
    color: rgba(255, 255, 255, 1);
    /* padding-top: 360px; */
}
.banner-info img{
            margin: 0 auto;
            padding-top: 80px;
}

.banner-title{
    padding-top: 150px;
    
}
.banner-btn{
    margin-top: 1.5rem;
}
.banner-btn1{
    font-size: 1rem;
    width: 201px;
    padding: 12px 20px;
    border-radius: 20px;
   background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.banner-btn2{
    font-size: 1rem;
    width: 201px;
    padding: 12px 20px;
    border-radius: 20px;
   background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}


@media screen and (max-width:576px) {
        .manubar, .primary-btn{
            display: none;
        }

}

