*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Share Style  */
.primary-btn{
    font-size: 1rem;
    width: 136px;
    padding: 12px 16px;
    border-radius: 20px;
   background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
   transition: transform 2s linear 1s;
}
.primary-btn:hover{
    transform: scale(0.5) rotate(360deg) translateX(50px);
}
.new-btn{
    display: block;
    margin-left: 54%;
    padding: 8px 16px;
    background-color: rgba(0, 255, 136, 1);
    border-radius: 20px;
}

/* Main style  */

/* navbar section */

.nav-container{
        color: rgba(255, 255, 255, 1);
    height: 5.8rem;
    background-color: rgba(26, 11, 46, 1);
}

.nav-wave{
  background: linear-gradient(to right, #F0EA41, #FB09B4, #9100F8); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

/* banner section  */
.banner-container{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    padding-top: 40px;
    /* height: 760px; */

}
.banner-setion{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: top,center;
    
}
.banner-section img{

}
.banner-info{
    color: rgba(255, 255, 255, 1);
    /* padding-top: 360px; */
}
.banner-info img{
            margin: 0 auto;
            padding-top: 80px;
}

.banner-title{
    padding-top: 150px;
    
}
.banner-btn{
    margin-top: 1.5rem;
}
.banner-btn1{
    font-size: 1rem;
    width: 201px;
    padding: 12px 20px;
    border-radius: 20px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    transition: transform 2s linear 1s;
}
.banner-btn1:hover{
    transform: scale(0.5) rotate(360deg) translateX(50px);
}

.banner-btn2{
        transition: transform 2s linear 1s;
}
.banner-btn2:hover{
    transform: scale(0.5) rotate(360deg) translateX(50px);
}

/* about section */
.about-container{
     color: rgba(255, 255, 255, 1);
      background-color: rgba(26, 11, 46, 1);
}
.about-info h1{
    color: rgba(255, 255, 255, 1);
    padding-top: 8.50rem;
}
.about-info p{
    line-height: 20px;
    margin-top: 1rem;
}
.aboutp{
    margin-top: 1.25rem;
}
.about-card{
    margin-top: 160px;
}
.about-card h4{
    margin-top: 1rem;
    font-weight: 400;
}
/* why section  */
.why-section{
    background-color: rgba(26, 11, 46, 1);
}
.why-content{
    margin: 0 auto;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;

}
.why-info{
    max-width: 1200px;
    /* max-height: 785px; */
    /* border: 3px solid greenyellow; */
    background-color: rgba(35, 14, 61, 1);
    display: grid;
    gap: 20px;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: repeat(3, 220x);
    margin: 0 auto;
    /* padding-top: 40px; */
    
}
.card-info{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 20px;
}
.card-info h2{
    color: rgba(255, 255, 255, 1);
    padding-top: 16px;
}
.card-info p{
    color: rgba(255, 255, 255, 1);
    padding-top: 16px;
}
.card-info .zap{
    max-width: 10%;
    color: linear-gradient(to right, #F0EA41, #FB09B4, #9100F8); 
}
/* future-section  */

.future-section{
    background-color: rgba(26, 11, 46, 1);
}
.future-content{
         padding-top: 7.5rem;
         padding-bottom: 2.5rem;
}
.future-info{
    margin: 0 auto;
}
.future-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 1rem;
    border-radius: 24px;
    max-width: 380px;
}
.future-card h2, p, .future-btn{
    padding: 12px 24px 6px;
}
/* meet section  */

.meet-section{
    background-color:  rgba(26, 11, 46, 1);
    padding-top: 7rem;
    /* margin: 0 auto; */
    padding-bottom: 6rem;
    
}
.meet-container{
    padding-top: 2.5rem;
    background-color: rgba(53, 17, 101, 0.4);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2.5rem;
    border-radius: 1.5rem;  
}
.meet-info{
    padding: 40px;

}
.meet-btn{
    border: 2px solid rgba(145, 0, 248, 1);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
}
/* footer section  */

.footer-content{
    /* background-color: rgba(26, 11, 46, 1);
    margin-top: 40px; */
}
.footer-section{
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.footer-content{
    text-align: center;
}
.footer-wave{
  background: linear-gradient(to right, #F0EA41, #FB09B4, #9100F8); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}




@media screen and (max-width:576px) {
        .manubar, .primary-btn{
            display: none;
        }
        .about-card{
            display: flex;
            flex-wrap: wrap;
        }
        .why-content h2{
            font-size: 2rem;
        }
        .future-content{
         padding-top: 5rem;
         padding-bottom: 1.5rem;
}
        .why-info{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        .future-card{
            margin: 0 auto;
        }
        .meet-container{
            margin: 0 auto;
            text-align: center;
            margin-top: 1.5rem;
        }
        .meet-img{
            margin-left: 30%;
        }
        .meet-info{
            padding-top: 10px;
        }
    
        }
        
    
}